lammps_related/lammps_jl_tests/md_loops/by_committee/dump_CHECK.custom
lammps_related/lammps_jl_tests/md_loops/by_committee/dump_2000K.custom
lammps_related/lammps_jl_tests/md_loops/by_committee/dump_2000K_committee.custom
