lammps_related/lammps_jl_tests/md_loops/by_committee/dump_CHECK.custom
lammps_related/lammps_jl_tests/md_loops/by_committee/dump_2000K.custom
lammps_related/lammps_jl_tests/md_loops/by_committee/dump_2000K_committee.custom
lammps_related/lammps_jl_tests/md_loops/clean_AL_prototype/unstable_fcomp_mean.csv
lammps_related/lammps_jl_tests/md_loops/clean_AL_prototype/dump_unstable_melt.custom
lammps_related/lammps_jl_tests/md_loops/clean_AL_prototype/dump_unstable_melt_committee.custom
lammps_related/lammps_jl_tests/md_loops/clean_AL_prototype/unstable_fcomp_stdevs.csv
lammps_related/lammps_jl_tests/md_loops/clean_AL_prototype/plots/iterative_npt_melt_example_thermo_data.jld2
lammps_related/lammps_jl_tests/md_loops/clean_AL_prototype/plots/iterative_npt_melt_example_uq_data.jld2
lammps_related/lammps_jl_tests/md_loops/clean_AL_prototype/dump_melt.custom
lammps_related/lammps_jl_tests/md_loops/doc_bugs_for_clean_al/gen_new_fits/fits/*.yace
lammps_related/lammps_jl_tests/md_loops/doc_bugs_for_clean_al/initial_fits/*.yace
random_tasks/reorder_dio_xyz_020524/*.xyz
random_tasks/reorder_dio_xyz_020524/*.dump
*.mp4
